[submodule "thirdparty/magnetometer_calibration"]
	path = thirdparty/magnetometer_calibration
	url = https://github.com/nliaudat/magnetometer_calibration.git
[submodule "thirdparty/common"]
	path = thirdparty/common
	url = https://github.com/sneakyHulk/common.git
[submodule "thirdparty/concurra"]
	path = thirdparty/concurra
	url = https://github.com/sneakyHulk/concurra.git
[submodule "thirdparty/matplotlibcpp17"]
	path = thirdparty/matplotlibcpp17
	url = https://github.com/soblin/matplotlibcpp17.git
[submodule "thirdparty/serial"]
	path = thirdparty/serial
	url = https://github.com/wjwwood/serial.git
[submodule "thirdparty/TOST"]
	path = thirdparty/TOST
	url = https://github.com/sneakyHulk/TOST.git
[submodule "thirdparty/csv-parser"]
	path = thirdparty/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "thirdparty/benchmark"]
	path = thirdparty/benchmark
	url = https://github.com/google/benchmark.git
